body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    font-size: 50px;
}

p {
    text-align: justify;
}

.container {
    display: flex;

}

.half-width {
    width: 50%;
    padding-left: 2%;
}

.half-width img {
    width: 80%;
}

.button {
    padding: 10px 40px;
    text-decoration: none;
    color: white;
    border-radius: 2px;
    background-image: linear-gradient(red, blue);
    font-size: medium;
}

.top-banner {
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;


}

.section2 {
    margin-top: 100px;
    padding-right: 10%;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-position-y: top;
}

.box-shadow {
    box-shadow: 10px 10px 40px rgb(156, 153, 153);
    border-left: 5px solid rgb(248, 8, 8);
    padding: 20px;
    margin: 50px;
}

.experience {
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

#right-side {
    border-left: 5px solid rgb(152, 8, 248);

}

footer p {
    text-align: center;
}